# cert-manager
export TF_VAR_cloudflare_api_token=""

# Monitoring
export TF_VAR_grafana_admin_password=""
export TF_VAR_discord_webhook_url=""
# export TF_VAR_thanos_object_store_config="" # Leave blank for now

# Pi-hole
export TF_VAR_pihole_password=""

# Nextcloud
export TF_VAR_nextcloud_admin_password=""
export TF_VAR_nextcloud_db_password=""
export TF_VAR_nextcloud_db_root_password=""