---
- name: Restart systemd-logind
  ansible.builtin.systemd:
    name: systemd-logind
    state: restarted
  become: true

- name: Update GRUB
  ansible.builtin.command: update-grub
  become: true
  changed_when: true
